<div>
  <h2>Welcome to Jungle! Please sign-up!<h2>
</div>
<br />

<%= form_for :user, url: '/users', html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= label_tag :name, "Name:", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email, "Email:", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :password, "Password:", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :password, "Confirm Password:", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
